.App {
    text-align: center;
}

.eightball-frame {
    display: flex;
    height: 400px;
    width: 400px;
    background-color: black;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.eightball-text {
    color: white;
}
